@page "/practice" 

<h3>Recommended practice</h3>

...

<AuthorizeView>
    <Authorized>
        <h3>@context.User.Identity.Name's practice decks</h3>

        <h4>Standard decks</h4>

        <h4>Custom decks</h4>
    </Authorized>
</AuthorizeView>

@code {

}
