@page "/practice" 

<h3>Practice</h3>

This where recommended practice will go

<br />

Also, let user know that they can create their own practice decks by going to Custom Lessons and checking "just for practice" while making deck

@code {

}
